@import url(https://fonts.googleapis.com/css?family=Inconsolata);

body {
  font-family: 'Inconsolata', 'Courier New', monospace;
  background-image: linear-gradient(to bottom right, #5cc8ff 0%, #d63c6b 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
